@compile_path:   "../000_compile";

@lib_path:       "../000_lib";
@mixin_path:     "../001_mixin";
@variable_path:  "../002_variable";
@base_path:      "../003_base";
@atom_path:      "../004_atom";
@component_path: "../005_component";
@layout_path:    "../006_layout";
@plugin_path:    "../007_plugin";
@utility_path:   "../008_utility";
@animation_path: "../009_animation";