@color-primary:           #73FE73;
@color-primary-dark:      darken(@color-primary, 7%, relative);
@color-primary-darker:    darken(@color-primary, 15%, relative);
@color-primary-darkest:   darken(@color-primary, 19%, relative);

@color-secondary:         #22CEED;
@color-secondary-dark:    darken(@color-secondary, 7%, relative);
@color-secondary-darker:  darken(@color-secondary, 15%, relative);
@color-secondary-darkest: darken(@color-secondary, 19%, relative);

@color-tertiary:          #BA72FA;
@color-tertiary-dark:     darken(@color-tertiary, 7%, relative);
@color-tertiary-darker:   darken(@color-tertiary, 15%, relative);
@color-tertiary-darkest:  darken(@color-tertiary, 19%, relative);

@color-quat:              #FE58CF;
@color-quat-dark:         darken(@color-quat, 7%, relative);
@color-quat-darker:       darken(@color-quat, 15%, relative);
@color-quat-darkest:      darken(@color-quat, 19%, relative);

@color-quin:              #FE8547;
@color-quin-dark:         darken(@color-quin, 7%, relative);
@color-quin-darker:       darken(@color-quin, 15%, relative);
@color-quin-darkest:      darken(@color-quin, 19%, relative);

@color-sen:               #FEE05C;
@color-sen-dark:          darken(@color-sen, 7%, relative);
@color-sen-darker:        darken(@color-sen, 15%, relative);
@color-sen-darkest:       darken(@color-sen, 19%, relative);

@color-white:             #FFFFFF;
@color-black:             #000000;

@color-gray-lightest:     lighten(@color-gray, 53%);
@color-gray-lighter:      lighten(@color-gray, 47%);
@color-gray-light:        lighten(@color-gray, 25%);
@color-gray:              #536c84;
@color-gray-dark:         darken(@color-gray, 25%);
@color-gray-darker:       darken(@color-gray, 32%);
@color-gray-darkest:      darken(@color-gray, 53%);

@color-error:             #EF4035;
@color-warning:           #FDB813;
@color-confirm:           #24C875;
@color-success:           #20A6FC;

@color-border:            @color-gray-lighter;
@color-link:              @color-secondary-dark;

@color-list:
  primary           @color-primary,
  primary-dark      @color-primary-dark,
  primary-darker    @color-primary-darker,
  primary-darkest   @color-primary-darkest,
  secondary         @color-secondary,
  secondary-dark    @color-secondary-dark,
  secondary-darker  @color-secondary-darker,
  secondary-darkest @color-secondary-darkest,
  tertiary          @color-tertiary,
  tertiary-dark     @color-tertiary-dark,
  tertiary-darker   @color-tertiary-darker,
  tertiary-darkest  @color-tertiary-darkest,
  quat              @color-quat,
  quat-dark         @color-quat-dark,
  quat-darker       @color-quat-darker,
  quat-darkest      @color-quat-darkest,
  quin              @color-quin,
  quin-dark         @color-quin-dark,
  quin-darker       @color-quin-darker,
  quin-darkest      @color-quin-darkest,
  sen               @color-quin,
  sen-dark          @color-sen-dark,
  sen-darker        @color-sen-darker,
  sen-darkest       @color-sen-darkest,
  white           @color-white,
  black           @color-black,
  gray-lightest     @color-gray-lightest,
  gray-lighter      @color-gray-lighter,
  gray-light        @color-gray-light,
  gray            @color-gray,
  gray-dark         @color-gray-dark,
  gray-darker       @color-gray-darker,
  gray-darkest      @color-gray-darkest,
  error             @color-error,
  warning           @color-warning,
  confirm           @color-confirm,
  success           @color-success,
  border            @color-gray-lighter,
  link              @color-secondary-dark;