.@{util_prefix} {
  &_height {

    .mixin_height(@value) {
      height: @value;
      max-height: @value;
      min-height: @value;
    }

    &_1 {
      .mixin_height(20px) !important;
    }
    &_2 {
      .mixin_height(40px) !important;
    }
    &_3 {
      .mixin_height(60px) !important;
    }
    &_4 {
      .mixin_height(80px) !important;
    }
    &_5 {
      .mixin_height(100px) !important;
    }
    &_6 {
      .mixin_height(120px) !important;
    }
    &_7 {
      .mixin_height(140px) !important;
    }
    &_8 {
      .mixin_height(160px) !important;
    }
    &_9 {
      .mixin_height(180px) !important;
    }
    &_10 {
      .mixin_height(200px) !important;
    }
    &_p {
      &_1 {
        .mixin_height(10%) !important;
      }
      &_2 {
        .mixin_height(20%) !important;
      }
      &_3 {
        .mixin_height(30%) !important;
      }
      &_4 {
        .mixin_height(40%) !important;
      }
      &_5 {
        .mixin_height(50%) !important;
      }
      &_6 {
        .mixin_height(60%) !important;
      }
      &_7 {
        .mixin_height(70%) !important;
      }
      &_8 {
        .mixin_height(80%) !important;
      }
      &_9 {
        .mixin_height(90%) !important;
      }
      &_10 {
        .mixin_height(100%) !important;
      }     
    }
  }
}