
.@{util_prefix} {
  &_pos {
    &_rel {
      position: relative !important;
    }
    &_abs {
      position: absolute !important;
    }
    &_static {
      position: static !important;
    }
    &_fixed {
      position: fixed !important;
    }

    &_align {
      &_top {
        vertical-align: top !important;
      }
      &_middle {
        vertical-align: middle !important;
      }
      &_bottom {
        vertical-align: bottom !important;
      }
    }
  }
}