.mixin-opacity-array(@i: length(@z-index-list)) when (@i > 0) {
  .mixin-opacity-array(@i - 1);
  @z-index: extract(@z-index-list, @i);
  @name:    extract(@z-index, 1);
  @value:   extract(@z-index, 2);
  &-@{name} {
    .mixin-opacity(@value) !important;
  }
}

.@{util_prefix} {
  &-opacity {
    .mixin-opacity-array();
  }
}