.@{util_prefix} {
  &_width {
    &_1 {
      width: 20px;
      max-width: 20px;
      min-width: 20px;
    }
    &_2 {
      width: 40px;
      max-width: 40px;
      min-width: 40px;
    }
    &_3 {
      width: 60px;
      max-width: 60px;
      min-width: 60px;
    }
    &_4 {
      width: 80px;
      max-width: 80px;
      min-width: 80px;
    }
    &_5 {
      width: 100px;
      max-width: 100px;
      min-width: 100px;
    }
    &_6 {
      width: 120px;
      max-width: 120px;
      min-width: 120px;
    }
    &_7 {
      width: 140px;
      max-width: 140px;
      min-width: 140px;
    }
    &_8 {
      width: 160px;
      max-width: 160px;
      min-width: 160px;
    }
    &_9 {
      width: 180px;
      max-width: 180px;
      min-width: 180px;
    }
    &_10 {
      width: 200px;
      max-width: 200px;
      min-width: 200px;
    }
    &_p {
      .col-mixin(@value) {
        width:     100 / 12% * @value;
        max-width: 100 / 12% * @value;
        min-width: 100 / 12% * @value;
      }
      &_1 {
        .col-mixin(1);
      }
      &_2 {
        .col-mixin(2);
      }
      &_3 {
        .col-mixin(3);
      }
      &_4 {
        .col-mixin(4);
      }
      &_5 {
        .col-mixin(5);
      }
      &_6 {
        .col-mixin(6);
      }
      &_7 {
        .col-mixin(7);
      }
      &_8 {
        .col-mixin(8);
      }
      &_9 {
        .col-mixin(9);
      }
      &_10 {
        .col-mixin(10);
      }  
      &_11 {
        .col-mixin(11);
      }  
      &_12 {
        .col-mixin(12);
      }     
    }
  }
}