
.@{util_prefix} {
  &_pos {
    &_rel {
      position: relative;
    }
    &_abs {
      position: absolute;
    }
    &_static {
      position: static;
    }
    &_fixed {
      position: fixed;
    }

    &_align {
      &_top {
        vertical-align: top;
      }
      &_middle {
        vertical-align: middle;
      }
      &_bottom {
        vertical-align: bottom;
      }
    }
  }
}