
.@{util_prefix} {
  &_bg {

    &_img {
      background-size: cover;
      background-position: 50%;
    }
    &_none {
      background: none !important;
    }

    &_white {
      background: @color-white !important;
    }
    &_black {
      background: @color-black !important;
    }

    &_gray {
      background: @color-gray !important;
      &_lightest {
        background: @color-gray-lightest !important;
      }
      &_lighter {
        background: @color-gray-lighter !important;
      }
      &_light {
        background: @color-gray-light !important;
      }
      &_dark {
        background: @color-gray-dark !important;
      }
      &_darker {
        background: @color-gray-darker !important;
      }
      &_darkest {
        background: @color-gray-darkest !important;
      }
    }

    &_primary {
      background: @color-primary !important;
      &_dark {
        background: @color-primary-dark !important;
      }
      &_darker {
        background: @color-primary-darker !important;
      }
      &_darkest {
        background: @color-primary-darkest !important;
      }
    }

    &_secondary {
      background: @color-secondary !important;
      &_dark {
        background: @color-secondary-dark !important;
      }
      &_darker {
        background: @color-secondary-darker !important;
      }
      &_darkest {
        background: @color-secondary-darkest !important;
      }
    }

    &_tertiary {
      background: @color-tertiary !important;
      &_dark {
        background: @color-tertiary-dark !important;
      }
      &_darker {
        background: @color-tertiary-darker !important;
      }
      &_darkest {
        background: @color-tertiary-darkest !important;
      }
    }

    &_quat {
      background: @color-quat !important;
      &_dark {
        background: @color-quat-dark !important;
      }
      &_darker {
        background: @color-quat-darker !important;
      }
      &_darkest {
        background: @color-quat-darkest !important;
      }
    }

    &_quin {
      background: @color-quin !important;
      &_dark {
        background: @color-quin-dark !important;
      }
      &_darker {
        background: @color-quin-darker !important;
      }
      &_darkest {
        background: @color-quin-darkest !important;
      }
    }

    &_sen {
      background: @color-sen !important;
      &_dark {
        background: @color-sen-dark !important;
      }
      &_darker {
        background: @color-sen-darker !important;
      }
      &_darkest {
        background: @color-sen-darkest !important;
      }
    }

    &_error {
      background: @color-error !important;
    }
    &_warning {
      background: @color-warning !important;
    }
    &_confirm {
      background: @color-confirm !important;
    }
    &_success {
      background: @color-success !important;
    }

    &_border {
      background: @color-border !important;
    }

    &_hover {

      @bg_hover_transition: all 0.1s ease-in-out;

      &_primary {
        .mixin_transition(@bg_hover_transition);
        &:hover {
          background: @color-primary !important;
        }
        &_dark {
          .mixin_transition(@bg_hover_transition);
          &:hover {
            background: @color-primary-dark !important;
          }
        }
        &_darker {
          .mixin_transition(@bg_hover_transition);
          &:hover {
            background: @color-primary-darker !important;
          }
        }
        &_darkest {
          .mixin_transition(@bg_hover_transition);
          &:hover {
            background: @color-primary-darkest !important;
          }
        }
      }

      &_secondary {
        .mixin_transition(@bg_hover_transition);
        &:hover {
          background: @color-secondary !important;
        }
        &_dark {
          .mixin_transition(@bg_hover_transition);
          &:hover {
            background: @color-secondary-dark !important;
          }
        }
        &_darker {
          .mixin_transition(@bg_hover_transition);
          &:hover {
            background: @color-secondary-darker !important;
          }
        }
        &_darkest {
          .mixin_transition(@bg_hover_transition);
          &:hover {
            background: @color-secondary-darkest !important;
          }
        }
      }

      &_tertiary {
        .mixin_transition(@bg_hover_transition);
        &:hover {
          background: @color-tertiary !important;
        }
        &_dark {
          .mixin_transition(@bg_hover_transition);
          &:hover {
            background: @color-tertiary-dark !important;
          }
        }
        &_darker {
          .mixin_transition(@bg_hover_transition);
          &:hover {
            background: @color-tertiary-darker !important;
          }
        }
        &_darkest {
          .mixin_transition(@bg_hover_transition);
          &:hover {
            background: @color-tertiary-darkest !important;
          }
        }
      }

      &_quat {
        .mixin_transition(@bg_hover_transition);
        &:hover {
          background: @color-quat !important;
        }
        &_dark {
          .mixin_transition(@bg_hover_transition);
          &:hover {
            background: @color-quat-dark !important;
          }
        }
        &_darker {
          .mixin_transition(@bg_hover_transition);
          &:hover {
            background: @color-quat-darker !important;
          }
        }
        &_darkest {
          .mixin_transition(@bg_hover_transition);
          &:hover {
            background: @color-quat-darkest !important;
          }
        }
      }

      &_quin {
        .mixin_transition(@bg_hover_transition);
        &:hover {
          background: @color-quin !important;
        }
        &_dark {
          .mixin_transition(@bg_hover_transition);
          &:hover {
            background: @color-quin-dark !important;
          }
        }
        &_darker {
          .mixin_transition(@bg_hover_transition);
          &:hover {
            background: @color-quin-darker !important;
          }
        }
        &_darkest {
          .mixin_transition(@bg_hover_transition);
          &:hover {
            background: @color-quin-darkest !important;
          }
        }
      }

      &_sen {
        .mixin_transition(@bg_hover_transition);
        &:hover {
          background: @color-sen !important;
        }
        &_dark {
          .mixin_transition(@bg_hover_transition);
          &:hover {
            background: @color-sen-dark !important;
          }
        }
        &_darker {
          .mixin_transition(@bg_hover_transition);
          &:hover {
            background: @color-sen-darker !important;
          }
        }
        &_darkest {
          .mixin_transition(@bg_hover_transition);
          &:hover {
            background: @color-sen-darkest !important;
          }
        }
      }

      &_error {
        .mixin_transition(@bg_hover_transition);
        &:hover {
          background: @color-error !important;
        }
      }
      &_warning {
        .mixin_transition(@bg_hover_transition);
        &:hover {
          background: @color-warning !important;
        }
      }
      &_confirm {
        .mixin_transition(@bg_hover_transition);
        &:hover {
          background: @color-confirm !important;
        }
      }
      &_success {
        .mixin_transition(@bg_hover_transition);
        &:hover {
          background: @color-success !important;
        }
      }

      &_white {
        .mixin_transition(@bg_hover_transition);
        &:hover {
          background: @color-white !important;
        }
      }

      &_black {
        .mixin_transition(@bg_hover_transition);
        &:hover {
          background: @color-black !important;
        }
      }

    }

  }
}