
.@{util_prefix} {
  &_text {

    &_underline {
      text-decoration: underline !important;
    }
    &_uppercase {
      text-transform: uppercase !important;
    }
    &_lowercase {
      text-transform: lowercase !important;
    }
    &_capitalize {
      text-transform: capitalize !important;
    }

    &_bold {
      font-weight: 700 !important;
    }
    &_medium {
      font-weight: 500 !important;
    }
    &_normal {
      font-weight: 400 !important;
    }
    &_light {
      font-weight: 300 !important;
    }
    &_fine {
      font-weight: 100 !important;
    }

    &_italic {
      font-style: italic !important;
    }

  }
}

.mixin_mq_text_align(@value; @i: length(@mq-list)) when (@i > 0) {
  .mixin_mq_text_align(@value, @i - 1);
  @mq:     extract(@mq-list, @i);
  @name:   extract(@mq, 1);
  @size:   extract(@mq, 2);
  .mixin (@i) when (@i =< 1) {
    &_@{value} {
      text-align: @value;
    }
  }
  .mixin(@i);
  @media (min-width: @size) {
    &_@{name}_@{value} {
      text-align: @value;
    }
  }
}

.@{util_prefix} {
  &_text {
    .mixin_mq_text_align(left);
    .mixin_mq_text_align(center);
    .mixin_mq_text_align(right);
    .mixin_mq_text_align(justify);
  }
}