
.@{util_prefix} {
  &_z_index {
    &_1 {
      z-index: @z-index-1;
    }
    &_2 {
      z-index: @z-index-2;
    }
    &_3 {
      z-index: @z-index-3;
    }
    &_4 {
      z-index: @z-index-4;
    }
    &_5 {
      z-index: @z-index-5;
    }
    &_6 {
      z-index: @z-index-6;
    }
    &_7 {
      z-index: @z-index-7;
    }
    &_8 {
      z-index: @z-index-8;
    }
    &_9 {
      z-index: @z-index-9;
    }
    &_10 {
      z-index: @z-index-10;
    }
  }
}