
.@{util_prefix} {
  &_color {

    &_white {
      color: @color-white !important;
    }
    &_black {
      color: @color-black !important;
    }

    &_gray {
      color: @color-gray !important;
      &_lightest {
        color: @color-gray-lightest !important;
      }
      &_lighter {
        color: @color-gray-lighter !important;
      }
      &_light {
        color: @color-gray-light !important;
      }
      &_dark {
        color: @color-gray-dark !important;
      }
      &_darker {
        color: @color-gray-darker !important;
      }
      &_darkest {
        color: @color-gray-darkest !important;
      }
    }

    &_primary {
      color: @color-primary !important;
      &_dark {
        color: @color-primary-dark !important;
      }
      &_darker {
        color: @color-primary-darker !important;
      }
      &_darkest {
        color: @color-primary-darkest !important;
      }
    }

    &_secondary {
      color: @color-secondary !important;
      &_dark {
        color: @color-secondary-dark !important;
      }
      &_darker {
        color: @color-secondary-darker !important;
      }
      &_darkest {
        color: @color-secondary-darkest !important;
      }
    }

    &_tertiary {
      color: @color-tertiary !important;
      &_dark {
        color: @color-tertiary-dark !important;
      }
      &_darker {
        color: @color-tertiary-darker !important;
      }
      &_darkest {
        color: @color-tertiary-darkest !important;
      }
    }

    &_quat {
      color: @color-quat !important;
      &_dark {
        color: @color-quat-dark !important;
      }
      &_darker {
        color: @color-quat-darker !important;
      }
      &_darkest {
        color: @color-quat-darkest !important;
      }
    }

    &_quin {
      color: @color-quin !important;
      &_dark {
        color: @color-quin-dark !important;
      }
      &_darker {
        color: @color-quin-darker !important;
      }
      &_darkest {
        color: @color-quin-darkest !important;
      }
    }

    &_sen {
      color: @color-sen !important;
      &_dark {
        color: @color-sen-dark !important;
      }
      &_darker {
        color: @color-sen-darker !important;
      }
      &_darkest {
        color: @color-sen-darkest !important;
      }
    }

    &_error {
      color: @color-error !important;
    }
    &_warning {
      color: @color-warning !important;
    }
    &_confirm {
      color: @color-confirm !important;
    }
    &_success {
      color: @color-success !important;
    }

    &_border {
      color: @color-border !important;
    }

    &_hover {

      @color_hover_transition: color 0.1s ease-in-out;

      &_primary {
        .mixin_transition(@color_hover_transition);
        &:hover {
          color: @color-primary !important;
        }
        &_dark {
          .mixin_transition(@color_hover_transition);
          &:hover {
            color: @color-primary-dark !important;
          }
        }
        &_darker {
          .mixin_transition(@color_hover_transition);
          &:hover {
            color: @color-primary-darker !important;
          }
        }
        &_darkest {
          .mixin_transition(@color_hover_transition);
          &:hover {
            color: @color-primary-darkest !important;
          }
        }
      }

      &_secondary {
        .mixin_transition(@color_hover_transition);
        &:hover {
          color: @color-secondary !important;
        }
        &_dark {
          .mixin_transition(@color_hover_transition);
          &:hover {
            color: @color-secondary-dark !important;
          }
        }
        &_darker {
          .mixin_transition(@color_hover_transition);
          &:hover {
            color: @color-secondary-darker !important;
          }
        }
        &_darkest {
          .mixin_transition(@color_hover_transition);
          &:hover {
            color: @color-secondary-darkest !important;
          }
        }
      }

      &_tertiary {
        .mixin_transition(@color_hover_transition);
        &:hover {
          color: @color-tertiary !important;
        }
        &_dark {
          .mixin_transition(@color_hover_transition);
          &:hover {
            color: @color-tertiary-dark !important;
          }
        }
        &_darker {
          .mixin_transition(@color_hover_transition);
          &:hover {
            color: @color-tertiary-darker !important;
          }
        }
        &_darkest {
          .mixin_transition(@color_hover_transition);
          &:hover {
            color: @color-tertiary-darkest !important;
          }
        }
      }

      &_quat {
        .mixin_transition(@color_hover_transition);
        &:hover {
          color: @color-quat !important;
        }
        &_dark {
          .mixin_transition(@color_hover_transition);
          &:hover {
            color: @color-quat-dark !important;
          }
        }
        &_darker {
          .mixin_transition(@color_hover_transition);
          &:hover {
            color: @color-quat-darker !important;
          }
        }
        &_darkest {
          .mixin_transition(@color_hover_transition);
          &:hover {
            color: @color-quat-darkest !important;
          }
        }
      }

      &_quin {
        .mixin_transition(@color_hover_transition);
        &:hover {
          color: @color-quin !important;
        }
        &_dark {
          .mixin_transition(@color_hover_transition);
          &:hover {
            color: @color-quin-dark !important;
          }
        }
        &_darker {
          .mixin_transition(@color_hover_transition);
          &:hover {
            color: @color-quin-darker !important;
          }
        }
        &_darkest {
          .mixin_transition(@color_hover_transition);
          &:hover {
            color: @color-quin-darkest !important;
          }
        }
      }

      &_sen {
        .mixin_transition(@color_hover_transition);
        &:hover {
          color: @color-sen !important;
        }
        &_dark {
          .mixin_transition(@color_hover_transition);
          &:hover {
            color: @color-sen-dark !important;
          }
        }
        &_darker {
          .mixin_transition(@color_hover_transition);
          &:hover {
            color: @color-sen-darker !important;
          }
        }
        &_darkest {
          .mixin_transition(@color_hover_transition);
          &:hover {
            color: @color-sen-darkest !important;
          }
        }
      }

      &_error {
        .mixin_transition(@color_hover_transition);
        &:hover {
          color: @color-error !important;
        }
      }
      &_warning {
        .mixin_transition(@color_hover_transition);
        &:hover {
          color: @color-warning !important;
        }
      }
      &_confirm {
        .mixin_transition(@color_hover_transition);
        &:hover {
          color: @color-confirm !important;
        }
      }
      &_success {
        .mixin_transition(@color_hover_transition);
        &:hover {
          color: @color-success !important;
        }
      }

      &_white {
        .mixin_transition(@color_hover_transition);
        &:hover {
          color: @color-white !important;
        }
      }

      &_black {
        .mixin_transition(@color_hover_transition);
        &:hover {
          color: @color-black !important;
        }
      }

    }

  }
}