.mixin-mq-text-align(@value; @i: length(@mq-list)) when (@i > 0) {
  .mixin-mq-text-align(@value, @i - 1);
  @mq:     extract(@mq-list, @i);
  @name:   extract(@mq, 1);
  @size:   extract(@mq, 2);
  .mixin (@i) when (@i =< 1) {
    &-@{value} {
      text-align: @value !important;
    }
  }
  .mixin(@i);
  @media (min-width: @size) {
    &-@{name}-@{value} {
      text-align: @value !important;
    }
  }
}

.@{util_prefix} {
  &-text {
    .mixin-mq-text-align(left);
    .mixin-mq-text-align(center);
    .mixin-mq-text-align(right);
    .mixin-mq-text-align(justify);
  }
}

.@{util_prefix} {
  &-text {

    &-underline {
      text-decoration: underline !important;
    }
    &-uppercase {
      text-transform: uppercase !important;
    }
    &-lowercase {
      text-transform: lowercase !important;
    }
    &-capitalize {
      text-transform: capitalize !important;
    }

    &-bold {
      font-weight: 700 !important;
    }
    &-medium {
      font-weight: 500 !important;
    }
    &-normal {
      font-weight: 400 !important;
    }
    &-light {
      font-weight: 300 !important;
    }
    &-fine {
      font-weight: 100 !important;
    }

    &-italic {
      font-style: italic !important;
    }

  }
}