
.@{util_prefix} {
  &_mt_offset {
    &_5 {
      margin-top: -5rem !important;
    }
    &_4 {
      margin-top: -4rem !important;
    }
    &_3 {
      margin-top: -3rem !important;
    }
    &_2 {
      margin-top: -2rem !important;
    }
    &_1 {
      margin-top: -1rem !important;
    }
  }
  &_mb_offset {
    &_5 {
      margin-top: 5rem !important;
    }
    &_4 {
      margin-top: 4rem !important;
    }
    &_3 {
      margin-top: 3rem !important;
    }
    &_2 {
      margin-top: 2rem !important;
    }
    &_1 {
      margin-top: 1rem !important;
    }
  }
}