.mixin-opacity-array(@i: length(@opacity-list)) when (@i > 0) {
  .mixin-opacity-array(@i - 1);
  @opacity: extract(@opacity-list, @i);
  @name:    extract(@opacity, 1);
  @value:   extract(@opacity, 2);
  &-@{name} {
    .mixin-opacity(@value) !important;
  }
}

.@{util_prefix} {
  &-opacity {
    .mixin-opacity-array();
  }
}