.mixin-gradient-v(@startColor, @endColor) {
  background-color: @startColor;
  background-image: -webkit-gradient(linear, left top, left bottom, from(@startColor), to(@endColor));
  background-image: -webkit-linear-gradient(top, @startColor, @endColor);
  background-image: -moz-linear-gradient(top, @startColor, @endColor);
  background-image: -ms-linear-gradient(top, @startColor, @endColor);
  background-image: -o-linear-gradient(top, @startColor, @endColor);
  background-image: linear-gradient(top, @startColor, @endColor);
}
.mixin-gradient-h(@startColor, @endColor) {
  background-color: @startColor;
  background-image: -webkit-gradient(linear, left top, right top, from(@startColor), to(@endColor));
  background-image: -webkit-linear-gradient(left, @startColor, @endColor);
  background-image: -moz-linear-gradient(left, @startColor, @endColor);
  background-image: -ms-linear-gradient(left, @startColor, @endColor);
  background-image: -o-linear-gradient(left, @startColor, @endColor);
  background-image: linear-gradient(left, @startColor, @endColor);
}
.mixin-gradient-a(@startColor, @endColor) {
  background-color: @startColor;
  background-image: -webkit-linear-gradient(315deg, @startColor, @endColor);
  background-image: -moz-linear-gradient(315deg, @startColor, @endColor);
  background-image: -ms-linear-gradient(315deg, @startColor, @endColor);
  background-image: -o-linear-gradient(315deg, @startColor, @endColor);
  background-image: linear-gradient(315deg, @startColor, @endColor);
}